/* To test */
/* body{
    display:none;
} */

/* Nav-bar */
#nav-bar .logo{
    float:none;
    text-align:center;
}
#nav-bar ul, #nav-bar  ul li{
    float:none;
}
#nav-bar ul li a {
    padding:5px;
    border-bottom:#444 dotted 1px;
    margin-bottom:8px;
}
/* Showcase */
#showcase{
    height:100%;
}
#showcase .showcase-content{
    padding-top:70px;
    /* padding-bottom:30px; */
}

/* Home */
#home-info{
    height:500px;
}
#home-info .info-img{
   display:none; 
}
#home-info .info-content{
    float:none;
    width:100%;
}
/* Boxes */
.box{
    float:none;
    width:100%;
}
/* About */
#about-info .info-right,
#about-info .info-left{
    float:none;
    width:100%;
}
.l-heading{
    text-align:center;
}
#about-info .info-right{
    margin-top:30px;
}
/* Section 2 testimonials */
.mobile{
    display:none;
}
/* contact */
#contact-info .box{
    border-bottom:#444 dotted 1px;
}

